:root {
  --primaryBlue: #3d5a80;
  --secondaryBlue: #98c1d9;
  --mainOrange: #ee6c4d;
  --mainDark: #293241;
}
* {
  color: var(--mainDark)
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-columns {
  column-count: 3;
}
.submitButton {
  background-color: var(--secondaryBlue);
  border:2px solid var(--secondaryBlue);
  color: var(--primaryBlue)
}
.likeButton {
  color: var(--mainDark);
  background-color: var(--secondaryBlue);
  border: 2px solid var(--primaryBlue)
}
.loginForm {
  background: rgb(41,50,65);
  background: linear-gradient(0deg, rgba(41,50,65,1) 0%, rgba(61,90,128,1) 0%, rgba(152,193,217,1) 100%);
}
@media (min-width: 700px) {
  .loginForm {
    margin: 0 10% 0 10%;
  }
}
